.git
.gitignore
.env
.DS_Store
**/.DS_Store
**/*.swp
**/*.swo
**/*.tmp
**/*.log
**/node_modules
**/.npm
**/.cache
**/dist
**/debug
**/.libs
**/jails
**/cache
**/systemplate
**/test/samples
**/loleaflet
**/collabora-online-sbom.spdx.json
